<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>avalon2-webpack2-spa</title>
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.assetsPath %>static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.assetsPath %>static/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.assetsPath %>static/css/index.css">
    <script src="<%= htmlWebpackPlugin.options.assetsPath %>static/js/es6-promise.auto.js"></script>
    <script src="<%= htmlWebpackPlugin.options.assetsPath %>static/js/jquery.js"></script>
    <!--[if lte IE 9]>
      <script src="<%= htmlWebpackPlugin.options.assetsPath %>static/js/jquery.crossdomain-transport.js"></script>
    <![endif]-->
    <!--[if lt IE 9]> 
      <script src="<%= htmlWebpackPlugin.options.assetsPath %>static/js/oldIE.polyfill.js"></script>
      <script>var noHotCreateRequire = true;</script>
    <![endif]-->
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
